.container_flex {
  display: flex;
  width: 98vw;
  background-color: var(--bg-color);
  gap: 1rem;
}
.swaminarayan {
  color: var(--brown-color);
  font-weight: bolder;
  font-size: 1.2rem;
  text-align: center;
  height: 4.5 vh;
  margin-bottom:0.1rem;
  align-items: center;
  justify-content: center;
}
.purchase_swaminarayan {
  color: var(--purchase-bg);
  font-weight: bolder;
  font-size: 1.7rem;
  text-align: center;
  height: 7vh;
  align-items: center;
  justify-content: center;
}
.card-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.2rem 0.2rem;
}
