body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-color:#e1dbe9;
  --white-color:#ffffff;
  --brown-color:rgb(97, 37, 17);
  --light-brown-color: #A07C71;
  --hover-brown-color: #814736; /* for background */
  --grey-bg-color: #E1DBE9; /* for page background */
  --grey-btn-color: rgba(156, 129, 129, 0.5); /* For light button  */
  --btn-radius: 0.5rem;
  --white-bg-color:#F8F9FA;
  --black-color: #000000;
  --purchase-bg: rgb(87 15 119)
}

