.userreport-table-wrapper {
  flex: 1;
  max-height: 82vh;
  overflow: auto;
}

.userreport-table {
  width: 100%;
  border-collapse: collapse;
  font-weight: 400;
  border: 1px solid black;
  position: relative;
}
.userreport-table-silak {
  width: 100%;
  border-collapse: collapse;
  font-weight: 400;
  border: 1px solid black;
  position: relative;
}

.userreport-table thead,
.userreport-table tfoot {
  position: sticky;
  font-size: large;
  background-color: var(--white-color);
  z-index: 1;
}

.tfootgroup {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.userreport-table thead {
  top: 0;
  border-bottom: 2px solid #dcdcdc;
  text-align: left;
}

.userreport-table tfoot {
  bottom: 0;
  border-top: 2px solid var(--white-color);
}

.userreport-table th,
.userreport-table td {
  padding: 0.4rem;
  text-align: left;
  border: 1px solid var(--white-color);
}

.userreport-table th {
  background-color: var(--brown-color);
  color: var(--white-color);
  font-weight: bold;
}

.userreport-table tbody {
  display: block;
  max-height: 70%; /* Adjust this value as needed */
  overflow-y: auto;
  font-size: large;
}

.userreport-table tbody tr {
  display: table;
  width: 99.9%;
  text-align: left;
  table-layout: fixed; /* Ensures the columns stay aligned */
}

.userreport-table tbody tr:nth-child(even) {
  background-color: rgb(225, 219, 233);
}

.userreport-table tbody tr:nth-child(odd) {
  background-color: var(--white-color);
}

.userreport-table tr:last-child td {
  border-bottom-left-radius: 1rem;
}

.userreprt-button {
  border: 1px solid var(--brown-color);
  color: var(--brown-color);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  font-size: large;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  background-color: var(--white-color);
}

.userreprt-button.active {
  background-color: var(--brown-color);
  color: var(--white-color);
  border: none;
}

.userreportbtns {
  display: flex;
  gap: 1rem;
}

.back-btn {
  font-size: x-large;
  color: var(--brown-color);
  text-decoration: none;
}

.userreport-box {
  display: flex;
  /* height: vh; */
  justify-content: space-between;
  align-items: center;
}
@media print {
  .userreport-table {
    border: none;
    border-collapse: collapse;
    width: 100%;
  }

  .userreport-table th,
  .userreport-table td {
    border: 1px solid var(--black-color);
  }

  .userreport-table tbody tr:nth-child(even) {
    background-color: var(--white-color);
  }

  .userreport-table tbody tr:nth-child(odd) {
    background-color: var(--white-color);
  }

  .userreport-table tfoot {
    bottom: 0;
    border-top: 2px solid var(--white-color);
    z-index: 1;
  }

  .userreprt-button {
    display: none;
  }

  .userreport-box {
    display: none;
  }
}

/* Hide the print content on the screen */
.print-content {
  display: none;
}

/* Override to show the print content when printing */
@media print {
  .print-content {
    display: block;
  }

  /* Optionally, hide other elements that you don't want to print */
  body * {
    visibility: hidden;
  }

  .print-content,
  .print-content * {
    visibility: visible;
  }

  .print-content {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.sidebar-link {
  display: flex;
  color: rgb(97, 37, 17);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style: none;
  height: 60px;
  text-decoration: none;
  font-size: 18px;
  background: #ffffff;
  transition: all 0.2s ease-in-out;
  width: 100%;
  border: 0px;
}

.sidebar-link:hover {
  background: #efeeee;
  border-left: 4px solid rgb(97, 37, 17);
  border-top: 2px solid rgb(97, 37, 17);
  border-bottom: 2px solid rgb(97, 37, 17);
  cursor: pointer;
}

.sidebar-link.active {
  background: #e3e3e3;
  border-left: 4px solid rgb(97, 37, 17);
  border-top: 2px solid rgb(97, 37, 17);
  border-bottom: 2px solid rgb(97, 37, 17);
}

.sidebar-label {
  margin-left: 16px;
  color: rgb(97, 37, 17);
}

.dropdown-link {
  background: #414757;
  height: 60px;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
}

.dropdown-link:hover {
  background: #632ce4;
  cursor: pointer;
}

.toggle-button {
  background-color: #632ce4;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.toggle-button:hover {
  background-color: #414757;
}

.user-template {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-container {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  width: 100%;
}


.userreport-table thead,
.userreport-table tfoot {
  position: sticky;
  font-size: large;
  background-color: var(--white-color);
  z-index: 1;
}

.tfootgroup {
  display: flex;
  gap: 1rem;
}

.userreport-table thead {
  top: 0;
  border-bottom: 2px solid #dcdcdc;
}

.userreport-table tfoot {
  bottom: 0;
  border-top: 2px solid var(--white-color);
}

.userreport-table th,
.userreport-table td {
  padding: 0.4rem;
  text-align: left;
  border: 1px solid var(--white-color);
}

.userreport-table th {
  background-color: var(--brown-color);
  color: var(--white-color);
  font-weight: bold;
}

.userreport-table tbody {
  display: block;
  max-height: 70%; /* Adjust this value as needed */
  overflow-y: auto;
  font-size: large;
}

.userreport-table tbody tr {
  display: table;
  width: 99.9%;
  table-layout: fixed; /* Ensures the columns stay aligned */
}

.userreport-table tbody tr:nth-child(even) {
  background-color: rgb(225, 219, 233);
}

.userreport-table tbody tr:nth-child(odd) {
  background-color: var(--white-color);
}

.userreport-table tr:last-child td {
  border-bottom-left-radius: 1rem;
}

.userreprt-button {
  border: 1px solid var(--brown-color);
  color: var(--brown-color);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  font-size: large;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  background-color: var(--white-color);
}

.userreprt-button.active {
  background-color: var(--brown-color);
  color: var(--white-color);
  border: none;
}

.userreportbtns {
  display: flex;
  gap: 1rem;
}

.back-btn {
  font-size: x-large;
  color: var(--brown-color);
  text-decoration: none;
}

.userreport-box {

  display: flex;
  width: 97.4%;
  margin-left: 14px;
  margin-top: 6px;
  /* height: 10vh; */
  justify-content: space-between;
  align-items: center;
}
@media print {
  .userreport-table {
    border: none;
    border-collapse: collapse;
    width: 100%;
  }

  .userreport-table th,
  .userreport-table td {
    border: 1px solid var(--black-color);
  }

  .userreport-table tbody tr:nth-child(even) {
    background-color: var(--white-color);
  }

  .userreport-table tbody tr:nth-child(odd) {
    background-color: var(--white-color);
  }

  .userreport-table tfoot {
    bottom: 0;
    border-top: 2px solid var(--white-color);
    z-index: 1;
  }

  .userreprt-button {
    display: none;
  }

  .userreport-box {
    display: none;
  }
}

/* Hide the print content on the screen */
.print-content {
  display: none;
}

/* Override to show the print content when printing */
@media print {
  .print-content {
    display: block;
  }

  /* Optionally, hide other elements that you don't want to print */
  body * {
    visibility: hidden;
  }

  .print-content,
  .print-content * {
    visibility: visible;
  }

  .print-content {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.bill_index {
  background-color: var(--white-color);
  height: 85vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: Arial, sans-serif;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0.3rem 0rem 0.3rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.khulti-silak {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.khulti-silak-amount {
  width: 28%;
  text-align: end;
  font-size: 20px;
  font-weight: 700;
}
.silak-table {
  display: flex;
  /* justify-content: end; */
  width: 100%;
  flex-direction: column;
}
.silak-title-th {
  width: 86%;
  color: black;
  background-color: white;
  border: 1px solid;
  text-align: start;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
}
.silak-value-th {
  width: 40%;
  color: black;
  background-color: white;
  border: 1px solid;
  text-align: end;
  font-weight: 700;
  font-size: 18px;
  line-height: 33px;
  padding-right: 3px;
}
.khulti-shilak-model {
  width: 60%;
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: var(--btn-radius);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: var(--btn-radius);
  background-color: var(--brown-color);
  color: var(--white-color);
  cursor: pointer;
  padding: 0.3rem;
}
.purchase_icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: var(--btn-radius);
  background-color: var(--purchase-bg);
  color: var(--white-color);
  cursor: pointer;
  padding: 0.3rem;
}
.bhet_icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: var(--btn-radius);
  background-color: var(--bhet-bg);
  color: var(--white-color);
  cursor: pointer;
  padding: 0.3rem;
}
.khulti-shilak-model-title {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 4px;
  padding: 4px 0px;
  text-align: center;
  background-color: var(--brown-color);
}
.bill_header_sub {
  display: flex;
  justify-content: space-between;
  height: 1.4rem;
  font-size: 0.8rem;
  flex-wrap: wrap;
}

.bill_table {
  width: 100%;
  border-collapse: collapse;
}

.bill_table th,
.bill_table td {
  text-align: center;
  font-size: 0.8rem;
  padding: 0.1rem;
  margin: 0;
  overflow-y: visible;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bill_table thead {
  position: sticky;
  top: 0;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--black-color);
  border-top: 1px solid var(--black-color);
}

.bill_table tfoot {
  position: sticky;
  bottom: 0;
  background-color: var(--white-color);
  border-top: 1px solid var(--black-color);
  border-bottom: 1px solid var(--black-color);
}

.visit {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.bill_table thead,
tfoot,
tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-container {
  overflow: hidden;
}

.bill_table tbody {
  display: block;
  max-height: 53vh;
  overflow-y: auto;
}

.bill_table tbody::-webkit-scrollbar {
  width: 5px;
  overflow-y: auto;
}

.bill_table tbody::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.bill_table tbody::-webkit-scrollbar-thumb {
  background: var(--brown-color);
  border-radius: 6px;
}
.silak-table-main {
  display: flex;
  gap: 20px;
}
@media print {
  .bills {
    display: block;
    padding: 0;
    margin: 0;
  }

  .bill_index {
    width: auto;
    max-width: 288px;
    height: auto;
    margin: 1rem auto;
    box-shadow: none;
    padding: 1rem;
  }

  .bill_table {
    width: 100%;
    text-align: left;
  }

  .bill_table tbody {
    display: block;
    max-height: auto;
    overflow-y: visible;
  }

  .bill_table tfoot {
    position: static;
  }

  .bill_qty {
    width: 10%;
  }

  @page {
    size: auto;
    margin: 0;
  }
}
.report {
  display: none;
}
.bill_header_sub {
  display: flex;
  justify-content: space-between;
  padding: 0px 12px;
  background: white;
}
.pavti_title_head {
  display: flex;
  justify-content: flex-end;
}
.pavti_title {
  font-size: 15px;
  margin: 0;
}
.pavti_data_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 24px;
}
.pavti_product_Id {
  margin: 0;
  font-size: 12px;
  width: 70px;
}
.stocktable {
  background-color: var(--purchase-bg) !important;
}
.pavti_product_name_1 {
  margin: 0;
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 178px;
  font-weight: 600;
}
.pavti_data_quantity {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 40px;
  justify-content: center;
}
.product_price_report {
  margin: 0;
  width: 80px;
  text-align: right;
  font-size: 12px;
}
.pavti_total {
  display: flex;
  justify-content: flex-end;
}
.pavti_footer_text_report {
  margin: 2px 0px 0px 0px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin: 18px 0px 8px 0px;
}
.pavti_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pavti_product_name {
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 178px;
  font-weight: 600;
}
.product_price_report_1 {
  margin: 0;
  width: 100px;
  text-align: right;
}
@media print {
  @page {
    size: 3in 8in;
    margin: 0px 0px 0px 0px !important;
  }
  .report {
    display: block;
  }
  /* .bill_header_main{
    display: none !important;
  } */
}

.modal {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  z-index: 1000; /* Ensures modal is above everything */
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.purchase-modal {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  z-index: 1000; /* Ensures modal is above everything */
  max-width: 45%;
  max-height: 70%;
  overflow-y: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Darkens background */
  z-index: 999; /* Below modal but above other elements */
}

.modal-content {
  background: white;
  border-radius: 8px;
  width: 100%;
  max-height: 80%;
  overflow-y: auto;
  text-align: center;
}
.purchase-modal-content {
  background: white;
  border-radius: 8px;
  width: 100%;
  max-height: 80%;
  overflow-y: auto;
  text-align: center;
}
.print-button {
  margin-top: 10px;
  padding: 8px 16px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.print-button:hover {
  background: darkgreen;
}

.buttonStyle {
  margin: "10px";
  padding: "10px 20px";
  font-size: "16px";
  cursor: "pointer";
}

.reportContainerStyle {
  border: "1px solid #ccc";
  padding: "20px";
  width: "80%";
  margin: "auto";
  min-height: "200px";
}


/* stock table style */
.create-buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 10px;
  /* position: relative; */
  /* bottom: 0.5rem;
  padding-block: 0.5rem; */
}

.add-btn {
  border: none;
  cursor: pointer;
  border-radius: var(--btn-radius);
  justify-content: center;
  align-items: center;
  height: 2rem;
  color: var(--brown-color);
  border: 1px solid var(--brown-color);
  display: flex;
  background-color: var(--bg-color);
}

.modalbtn:hover {
  background-color: var(--brown-color);
  color: var(--white-color);
}

.add-icon {
  font-size: 1.5rem;
}

.product-container {
  background-color: var(--white-color);
  height: 87vh;
  padding: 1rem;
  border-radius: 1rem;
}

.product-table {
  width: 100%;
  border-collapse: separate;
  font-weight: 600;
  border: 1px solid var(--brown-color);
  table-layout: fixed;
  background: var(--white-color);
}

.product-table th,
.product-table td {
  padding: 0.5rem;
  text-align: left;
}

.product-table th {
  background-color: var(--brown-color);
  color: var(--white-color);
}

.product-table td {
  color: var(--brown-color);
}

.product-action-btn {
  background: var(--bg-color);
  border: 1px solid var(--brown-color);
  cursor: pointer;
  color: var(--brown-color);
  display: flex;
  align-items: center;
}

.action_icon {
  margin-right: 0.3rem;
}

.product-table .action_btn:hover {
  background-color: var(--bg-color);
}

.product-action {
  display: flex;
  align-items: left;
  gap: 0.5rem;
}

.product-table thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.product-table tbody {
  display: block;
  max-height: 65vh;
  overflow-y: auto;
  width: 100%;
}

.product-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.bhet-amt{
  position: relative;
  top: 1rem;
  font-weight: bold;
}

.download{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  font-size: 2rem;
  color:var(--white-color);
  background-color: var(--brown-color);
  border-radius: var(--btn-radius);
}